/* Tailwind base, components, utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset các style mặc định của trình duyệt nếu muốn */

body {
  background: #f4f7fb;
  font-family: "Inter", sans-serif;
} 